<div className="rails-body">
  <h1>About us</h1>

  <p>Train Spotter was built because although the MBTA provides a valuable service to
  many commuters in the Greater Boston Area, it is sometimes difficult to get up-to-date
  real-time information about when trains are running late. Additionally Train Spotter
  allows users to keep track of the trains that are most relevant to them.</p>

  <p>As a Boston based webapp, we began our work on the MBTA although we do hope to provide
  the same easy-to-use services to commuters using train systems all across America.</p>

  <p> We appreciate the support of the community and invite any feedback to improve our services.
  Please contact us at Train.Spotter.Connect@gmail.com with comments, concerns, questions
  or feedback</p>
</div>
