@import "*";

* {
  margin:0;
  padding:0;
}

html, body {
  background-color: #CDD5EA;
  height: 100%;
}

#body {
  margin:1%;
}

header, .top-bar, header li {
  background-color: #b2333d;
  text-align: center;
  width: 100%;
  height: 15%;
}

header li {
  list-style-type: none;
  padding: 0px;
  margin: 0;
}

.title {
  font-size: 300%;
  font-family: 'Cinzel';
  font-weight: bold;
}

.show-schedule {
  margin: 10px 10% ;
}

.schedule-header {
  width: 50px;
}
