@import "*";

* {
  margin:0;
  padding:0;
}

html {
  font-family: "PT sans", sans-serif;
  overflow: hidden;
}

html, body, #react-app, .react-body, .rails-body {
  height: 100%;
}

body {
  margin: 0 0 0 0;
  background: image_url(asset-path('train-station-background.jpg')) no-repeat center center fixed;
  background-color: lightgrey;
  background-size: cover;
  background-blend-mode: normal;
}

#rails-app .rails-body {
  position: absolute;
}

.react-body, .rails-body {
  padding-bottom: 1%;
}

#body {
  margin: 5% 10% 0 10%;
  margin-bottom: 0;
  border-radius: 10% 10% 0 0;
  padding: 2% 10% 5% 10%;
  height: 85%;
  width: 80%;
  position: fixed;
  background: inherit;
  background-blend-mode: screen;
}

.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

@media screen and (max-width: 960px) {
  html {
    font-size: 50%;
  }
  #body {
    margin: 5%;
    // height: 75%;
    padding-bottom: 0;
    margin-bottom: 0;
    width: 90%;
    overflow: hidden;
  }
  .react-body, .rails-body {
    padding-bottom: 0%;
    overflow-y: scroll;
  }
  .react-app, .rails-app {
    margin: 0 5%;
    // overflow-y: scroll;
  }
}
