// @import "*";
* {
  margin:0;
  padding:0;
}

html, body {
  background-color: #CDD5EA;
  height: 100%;
}

header {
  background-color: #b2333d;
  text-align: center;
  width: 100%;
  height: 10%;
}
#show-schedule {
  margin: 10px 10% ;
}
.schedule-header {
  width: 50px;
}
