// Place all the styles related to the TrainLines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.train-line-header {
  padding: 0 10%;
}

#line-schedule {
  overflow: scroll;
  display: inline-block;
}

.table-div {
  margin: 0 10%;
}
table {
  // table-layout: fixed;
  // white-space: nowrap;
}

// table .schedule-header-row {
//   height: 20px;
// }

.favorite {
  // background-color: green;
}

.fav-star {
  // float: right;
  // display: inline-flex;
  // vertical-align: baseline;
  // white-space: nowrap;
  height: 25px;
  width: 25px;
  // margin: 0 0px 0 10px;
  // padding: 0 0px 0 10px;
}

.fav-row-star {
  float: right;
  position: sticky;
  // padding-right: -25px;
  margin-right: -25px;
}

.fav-line-star {
  vertical-align: baseline;
  display: inline-block;

}

.schedule-header-row {
  // width: 500px;
  // padding: 50px;
  // margin: 50px;
  // display: inline-block;
  white-space: nowrap;
  padding-right: 26px;
  text-align: left;
  // margin-right: 20px;
}

.show-schedule {
  margin: 10px 10% ;
}

.schedule-header-corner, .schedule-header-column {
  text-align: center;
}

.schedule-header-column {
  padding: 0;
}

.schedule-square {
  padding: 0;
  text-align: center;
}
