<!DOCTYPE html>
<html>
  <head>
    <title>Daytripper1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      This will be my header
    </header>
    <%= yield %>
    <div id='app'>
    </div>
  </body>
</html>
